*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: whitesmoke;
}

header {
    border-bottom-style:inset;
    border-color: silver;
    border-width: 2px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top:  0%;
    right: 0%;
    left: 0%;
    bottom: 87.5%;
    align-items: baseline;
    column-width: auto;
    justify-items: center;
    align-content: space-between;
}

header a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

header li {
    display: inline-flex;
    font-size: 2.5vw;
}

header h1 {
    font-size: 5vw;
}

header form {
    color: gray;
}

header img {
    width: 30px;
}

.home__effect::before {
    content: "";
    background-image: linear-gradient(to right, black, orangered);
    position: absolute;
    height: 2.5px;
}

.home__effect:hover::before {
    content: "Home";
}

.about__effect::before {
    content: "";
    background-image: linear-gradient(to right, black, orangered);
    position: absolute;
    height: 2.5px;
}

.about__effect:hover::before {
    content: "About";
}

.products__effect::before {
    content: "";
    background-image: linear-gradient(to right, black, orangered);
    position: absolute;
    height: 2.5px;
}

.products__effect:hover::before {
    content: "Products";
}

.contact__effect::before {
    content: "";
    background-image: linear-gradient(to right, black, orangered);
    position: absolute;
    height: 2.5px;
}

.contact__effect:hover::before {
    content: "Contact";
}

.home img {
    max-width: 100%;
    margin-top: 5%;
}

.home h1 {
    color: white;
    font-size: 4vw;
    position: absolute;
    left: 2%;
    top: 15%;
}

.home h2 {
    color: white;
    font-size: 4vw;
    position:absolute;
    right: 2%;
    top: 25%;
}

.abt__hdr {
    margin-top: 15%;
    font-size: 10vw;
    margin-left: 10%;
}

.abt__set1 {
    display: grid;
    grid-template-areas: "L R";
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.abt__set2 {
    display: grid;
    grid-template-areas: "L R";
    align-items: center;
    justify-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.about img {
    max-width: 80%;
    max-height: 120%;
}

.about p {
    font-size: 2.5vw;
    max-width: 90%;
}

.cards {
    display: grid;
    grid-template-areas:
        "TL TM TR"
        "ML MM MR"
        "BL BM BR";
    justify-content: space-evenly;
    padding: 5%;
}

.products h1 {
    margin-top: 10%;
    font-size: 10vw;
    margin-left: 20%;
}

.cards img {
    max-width: 100%;
    max-height: 100%;
    padding: 5%;
}

.cards p {
    padding: 5%;
    font-size: 2vw;
}

.cards h1 {
    font-size: 4vw;

}

.cards h2 {
    font-size: 4vw;

}

.cards a {
    color: coral;
}

.cards button {
    color: white;
    background-color: coral;
    border-color: white;
}

.card__one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.card__two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.card__three {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.card__four {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.card__five {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.card__six {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.contact {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightgrey;
}

.contact h1 {
    font-size: 10vw;
}

.footer{
    background-color: coral;
}

.footer__icons {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.footer__text {
    padding: 5%;
    padding: 0;
    display: grid;
    grid-template-areas: "L M R";
    justify-content: space-between;
    font-size: 15px;
}

.footer a {
    color: black;
    list-style-type: none;
    text-decoration: none;
    font-size: 5vw;
}

.footer img {
    max-height: 50px;
}